//$color-heavy: #3a405a;
//$color-light: #aec5eb;
//$color-background: #f9dec9;
//$color-alt-light: #e9afa3;
//$color-alt-heavy: #685044;

$color-heavy: #2b2d42;
$color-light: #8d99ae;
$color-background: #edf2f4;
$color-alt-light: #ef233c;
$color-alt-heavy: #d90429;


$color-dark-gray: #333;

$color-font: $color-dark-gray;
